section.help {
    position: absolute;
    top: 12vh;
    right: 18vw;
    width: 64vw;
    min-width: 600px;
    display: none;
    z-index: 3;
    background-color: rgba(18, 18, 18, 0.85);
    height: 500px;
}

article.help {
    margin-left: 40px;
    margin-right: 40px;
}
ul.help {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    justify-content: space-evenly;
    list-style-type: none;
}
button.help {
    text-align: center;
    vertical-align: center;
    background-color: transparent;
    color: #FF4500;
    font-size: 25px;
    height: 100%;
    width: 100%;
    border: none;
    transition: color 0.5s;
}
button.help:hover {
    color: #FFFF00;
    transition: color 0.5s;
}
li.help {
    display: inline-block;
}
li.rules {
    margin-top: 10px;
}
nav.help {
    padding: 0;
    margin: 0;
    height: 50px;
    width: 100%;
}
#terminal_article, #alphabet_article, #terminal_article {
    display: none;
}
span.help.essential {
    color: #FFFF00;
}
span.help.essential::selection {
    color: #121212;
    background-color: #FFFF00;
}
span.help.critical {
    color: red;
}
span.help.critical::selection {
    background-color: red;
    color: #121212;
}
span.help.permitted {
    color: limegreen;
}
span.help.permitted::selection {
    background-color: limegreen;
    color: #121212;
}