#lent {
    -ms-overflow-x: scroll;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(20, 45px);
    justify-content: center;
    align-content: center;
    p.lentCell {
        display: inline-block;
        margin: 0;
        border-right: 1px solid #FF4081;
        height: 25px;
        font-family: sans-serif;
        text-align: center;
        vertical-align: center;
    }
}

@media (min-width: 1440px) {
    #lent {
        margin: 5px 0 20px 0;
        width: 1000px;
        height: 50px;
    }
}