#panel {
    display: grid;
    justify-content: space-evenly;
    align-content: center;
    padding: 0;
    article {
        margin: 0;
        padding: 0;
    }
    article.input {
        display: grid;
        justify-content: center;
        align-content: center;
        justify-items: left;
        align-items: center;
        h3 {
            margin: 17px 0 7px 0;
            display: inline-grid;
            text-align: center;
            vertical-align: center;
            font-family: sans-serif;
        }
        input.panel {
            display: inline-grid;
            background-color: transparent;
            color: #FF4081;
            font-size: 20px;
            border: 1px solid #FF4081;
            padding: 10px;
            border-radius: 5px;
            transition: border-color 0.3s;
        }
        input.panel::placeholder {
            color: rgba(256, 64, 129, 0.7);
            font-style: italic;
        }
        input.panel:focus {
            border: 1px solid #FFFF00;
            color: #FFFF00;
            outline: none;
        }
        input.panel:focus::selection {
            background-color: #FFFF00;
            color: #121212;
        }
        input.panel:focus::placeholder {
            color: rgba(255, 255, 0, 0.6);
        }
        #helpButton {
            background: linear-gradient(270deg, #FF4500, #FF8C00, #FFD700, #FFD700, #FF8C00, #FF4500);
            background-size: 400% 400%; /* Увеличиваем размер градиента для анимации */
            font-size: 30px;
            font-weight: bold;
            font-family: sans-serif;
            width: 48px;
            height: 48px;
            border-radius: 24px;
            outline: none;
            border: none;
            animation: gradientAnimation 6s ease infinite;
            transition: background 1s;
            margin: 17px 0 0 120px;
        }
        #helpButton:hover {
            animation: gradientAnimation 1s ease infinite;
        }
    }
    article.console {
        display: grid;
        justify-content: center;
        align-content: center;
        #display {
            width: 550px;
            height: 170px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            background-color: transparent;
            word-break: break-all;
            color: #FF4081;
            outline: none;
            border: 1px solid #FF4081;
            margin: 0;
            padding: 10px;
            text-align: left;
            vertical-align: top;
            font-size: 22px;
            overflow-x: scroll;
            -ms-overflow-x: scroll;
            p.terminal {
                color: #FF4081;
                font-size: 20px;
                background-color: transparent;
                margin: 0;
                padding: 0;
                span.octothrop {
                    color: #FF8C00;
                }
                span.octothrop::selection {
                    color: #121212;
                    background-color: #FF8C00;
                }
            }
        }
        #console {
            width: 550px;
            height: 35px;
            min-height: 35px;
            background-color: transparent;
            color: #FF4081;
            outline: none;
            border: 1px solid #FF4081;
            margin: 0;
            padding: 10px;
            text-align: left;
            vertical-align: auto;
            font-size: 25px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        #console:hover {
            border: 2px solid #FF4081;
        }
        #console:focus {
            border: 1px solid #FFFF00;
            color: #FFFF00;
        }
        #console:focus::selection {
            background-color: #FFFF00;
            color: #121212;
        }
        #console:focus::selection {
            background-color: #FFFF00;
            color: #121212;
        }
    }
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@media (min-width: 1440px) {
    #panel {
        height: 300px;
        width: 1440px;
        grid-template-columns: 618fr 1000fr;
        grid-template-rows: 1fr;
    }
}

